@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: "Nunito", "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.topnav {
  background-color: darkred;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: red;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.topnav .icon {
  display: none;
}

footer {

   width: 100%;
   background-color: lightgray;
   color: black;
   text-align: center;
   padding-top: 1px;
   padding-bottom: 1px;
}
